@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
padding-right:4%;
padding-left:3%;
}

.input{
margin-left:3%
}

.sec{

}


 @media only screen and (max-width: 730px){
 .input{
 margin-left:2px;
 }
 .nav2{
 padding-left:7%;
 }
 .sec{
 margin-left:2px;
 }
 .container3{
 margin-right:-0%;
 }
 }
 @media only screen and (max-width: 375px){
 .container3{
 margin-left:8px;
 margin-right:-0;
 }
 .nav{
 padding-left:7%;
 padding-right:8%;
 }
 .input{
 margin-left:0px;
 
 }
 .txt{
 font-weight:bold;
 font-size:15px;
 }
 .sec{
 margin-left:0px;
 }
 }
 @media only screen and (min-width: 376px){
    .container3{
    margin-left:15px;
    }
    .nav{
    padding-left:7%;
    padding-right:8%;
    }
    .input{
    margin-left:0px;
    
    }
    .txt{
    font-weight:bold;
    font-size:15px;
    }
    .sec{
    margin-left:0px;
    }
    .container3{
 margin-right:-0%;
 margin-left:6%;
 }
    }
    @media only screen and (width: 300px){
    .container3{
    margin-left:-6px;
    }
    .input{
    padding-right:15px;
    }
    }
    @media only screen and (max-width: 299px){
      .container3{
    margin-left:-6px;
    }
    .input{
    padding-right:15px;
    }
    }

    
 
